In [2]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Kashish Gandhi\Desktop\CoDivas_CollegeId\myntra202305041052.csv')

In [3]:
df.head()

,id,name,img,asin,price,mrp,rating,ratingTotal,discount,seller,purl
0,1,Men Solid Oversized Cotton,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,532.0,1299.0,4.1,5300,59,Difference of Opinion,https://www.myntra.com/tshirts/difference-of-o...
1,2,Men Cotton Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,274.0,499.0,4.2,25400,45,Roadster,https://www.myntra.com/tshirts/roadster/roadst...
2,3,Women Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,551.0,1199.0,4.5,3400,54,DILLINGER,https://www.myntra.com/tshirts/dillinger/dilli...
3,4,Typography Print T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,296.0,1099.0,4.0,18400,73,Huetrap,https://www.myntra.com/tshirts/huetrap/huetrap...
4,5,Printed Round Neck Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,494.0,899.0,4.2,3800,45,Roadster,https://www.myntra.com/tshirts/roadster/roadst...

In [29]:
df['name'][0]

'Men Solid Oversized Cotton'

Add additional column for target audience (Male, Female, Unknown)

In [92]:
df['target_audience'] = df['name'].apply(
    lambda x: 'Male' if 'Men' in x else ('Female' if 'Women' in x else 'Unknown')
)

In [48]:
for index, row in df.iterrows():
    if row['target_audience'] == 'Unknown':
        if 'Men' in row['name'] or 'Boys' in row['name']:
            df.at[index, 'target_audience'] = 'Male'
        elif 'Women' in row['name'] or 'Girls' in row['name']:
            df.at[index, 'target_audience'] = 'Female'
        else:
            df.at[index, 'target_audience'] = 'Unknown'

Slicing the dataset to 100,000 rows

In [106]:
df1=df[:100000]

In [107]:
df1

,id,name,img,asin,price,mrp,rating,ratingTotal,discount,seller,purl,target_audience
0,1,Men Solid Oversized Cotton,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,532.0,1299.0,4.1,5300,59,Difference of Opinion,https://www.myntra.com/tshirts/difference-of-o...,Male
1,2,Men Cotton Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,274.0,499.0,4.2,25400,45,Roadster,https://www.myntra.com/tshirts/roadster/roadst...,Male
2,3,Women Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,551.0,1199.0,4.5,3400,54,DILLINGER,https://www.myntra.com/tshirts/dillinger/dilli...,Female
3,4,Typography Print T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,296.0,1099.0,4.0,18400,73,Huetrap,https://www.myntra.com/tshirts/huetrap/huetrap...,Unknown
4,5,Printed Round Neck Pure Cotton T-shirt,"https://assets.myntassets.com/f_webp,dpr_1.0,q...",-,494.0,899.0,4.2,3800,45,Roadster,https://www.myntra.com/tshirts/roadster/roadst...,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Set Of 2 Gold-Plated Bracelets,-,-,1124.0,4164.0,0.0,0,73,SOHI,https://www.myntra.com/bracelet/sohi/sohi-set-...,Unknown
99996,99997,Half Hoop Earrings,-,-,994.0,2925.0,0.0,0,66,SOHI,https://www.myntra.com/earrings/sohi/sohi-cont...,Unknown
99997,99998,Gold Plated Stud Earring,-,-,350.0,1030.0,0.0,0,66,Sukkhi,https://www.myntra.com/earrings/sukkhi/sukkhi-...,Unknown
99998,99999,Textured Travel Pouch,-,-,495.0,1599.0,0.0,0,69,Crazy Corner,https://www.myntra.com/travel-accessory/crazy-...,Unknown
99999,100000,Rectangle Sunglasses,-,-,1975.0,2500.0,0.0,0,21,MAGNEQ,https://www.myntra.com/sunglasses/magneq/magne...,Unknown

Reducing data to clothing and few accessories

In [58]:
clothing_keywords = [
    'shirt', 't-shirt', 'jeans', 'trousers', 'pants', 'jacket', 'coat', 
    'dress', 'skirt', 'sweater', 'hoodie', 'shorts', 'suit', 'blouse', 
    'shirt', 'socks', 'scarf', 'gloves', 'hat', 'cap', 'blazer', 'vest', 
    'sweatshirt', 'polo', 'leggings', 'cardigan', 'culottes', 'romper',
    'jumpsuit', 'sari', 'kurta', 'sweater', 'tank top','corset','cargo','summer','bikini','saree','kurti','kurta'
]

In [241]:
pattern = '|'.join(clothing_keywords)

In [242]:
df_clothes = df1[df1['name'].str.contains(pattern, case=False, na=False, regex=True)]

In [244]:
df1=df_clothes

Finding number of unknown

In [108]:
count_unknown = (df1['target_audience'] == 'Unknown').sum()

print(f"Count of Unknown: {count_unknown}")

Count of Unknown: 73606

In [109]:
unique_count = df1['name'].nunique()

print(f"Count of unique names: {unique_count}")

Count of unique names: 41504

In [110]:
filtered_df = df1[df1['target_audience'] == 'Unknown']
unique_names = filtered_df['name'].unique()
unique_count = len(unique_names)

print(f"Unique names (excluding 'Unknown'): {unique_names}")
print(f"Count of unique names (excluding 'Unknown'): {unique_count}")

Unique names (excluding 'Unknown'): ['Typography Print T-shirt' 'Printed Round Neck Pure Cotton T-shirt'
 'Boys Pack of 5 T-shirt' ... 'Printed Midi Tiered Skirt'
 'Gold Plated Stud Earring' 'Textured Travel Pouch']
Count of unique names (excluding 'Unknown'): 33461

Import LLM to assign target audience to 'Unknown' data (Male, Female, Unisex)

In [12]:
import google.generativeai as genai
genai.configure(api_key="YOUR_API_KEY")
model = genai.GenerativeModel('gemini-pro')
chat = model.start_chat(history=[])

In [46]:
def determine_target_audience(product_name):
    chat = model.start_chat(history=[])
    response_new = chat.send_message(f"Given the product name '{product_name}', determine if it is for male, female, or unisex.")
    target_audience = ""
    for part in response_new.parts:
        target_audience = part.text.strip()
    return target_audience

In [47]:
import time
def process_with_delay(df, delay=4):
    unknown_names = df1[df1['target_audience'] == 'Unknown']['name'].unique()
    target_audiences = {}
    for product_name in unknown_names:
        target_audience = determine_target_audience(product_name)
        df.loc[(df['name'] == product_name) & (df['target_audience'] == 'Unknown'), 'target_audience'] = target_audience
        print(f"Processed: {product_name} -> {target_audience}")
        time.sleep(delay)

In [56]:
process_with_delay(df1)

Processed: Pack of 3 Printed T-shirts -> Unisex
Processed: Solid Zip Through Hoodie -> Unisex
Processed: Typography Cotton Casual Shirt -> Unisex
Processed: Jumpman Logo DF T-shirt -> Male
Processed: DTP Coating Water Bottle -> Unisex
Processed: AEROREADY Running T-shirt -> Unisex
Processed: Premium Cotton Solid T-shirt -> Unisex
Processed: Striped Knitted Polo T-shirt -> Unisex
Processed: Printed Oversized Fit T-shirt -> Unisex
Processed: Henley Neck Athleisure Pure Cotton T-shirt -> Unisex
Processed: Striped Collar Polo Shirt -> Male
Processed: Slim Fit Sports T-shirt -> Unisex
Processed: Printed Round Neck Mauve T-shirt -> Female

Identifying Main and Sub Category

In [4]:
main_categories = {
    'Top Wear': ['shirt', 't-shirt', 'jacket', 'coat', 'sweater', 'hoodie', 
                 'blouse', 'sweatshirt', 'polo', 'cardigan', 'vest', 'tank top', 
                 'corset', 'summer', 'bikini'],
    'Bottom Wear': ['jeans', 'trousers', 'pants', 'shorts', 'skirt', 'leggings', 
                    'culottes', 'cargo'],
    'Dress (Full Length)': ['dress', 'sari', 'kurta', 'saree', 'kurti', 
                            'jumpsuit', 'romper', 'long dress', 'evening dress', 'bridal dress']
}
subcategories = {
    'Top Wear': {
        'T-Shirt': ['t-shirt'],
        'Jacket': ['jacket'],
        'Coat': ['coat'],
        'Sweater': ['sweater'],
        'Hoodie': ['hoodie'],
        'Blouse': ['blouse'],
        'Sweatshirt': ['sweatshirt'],
        'Polo': ['polo'],
        'Cardigan': ['cardigan'],
        'Vest': ['vest'],
        'Tank Top': ['tank top'],
        'Corset': ['corset'],
        'Summer': ['summer'],
        'Bikini': ['bikini'],
        'Shirt': ['shirt'],
    },
    'Bottom Wear': {
        'Jeans': ['jeans'],
        'Trousers': ['trousers'],
        'Pants': ['pants'],
        'Shorts': ['shorts'],
        'Skirt': ['skirt'],
        'Leggings': ['leggings'],
        'Culottes': ['culottes'],
        'Cargo': ['cargo']
    },
    'Dress (Full Length)': {
        'Dress': ['dress'],
        'Sari': ['sari'],
        'Kurta': ['kurta'],
        'Saree': ['saree'],
        'Kurti': ['kurti'],
        'Jumpsuit': ['jumpsuit'],
        'Romper': ['romper'],
        'Long Dress': ['long dress'],
        'Evening Dress': ['evening dress'],
        'Bridal Dress': ['bridal dress']
    }
}

In [5]:
def determine_main_category(product_name):
    product_name = product_name.lower()
    for category, keywords in main_categories.items():
        if any(keyword in product_name for keyword in keywords):
            return category
    return 'Accessories'

In [6]:
def determine_subcategory(product_name, main_category):
    product_name = product_name.lower()
    if main_category == 'Accessories':
        return 'General'
    for subcategory, subkeywords in subcategories[main_category].items():
        if any(subkeyword in product_name for subkeyword in subkeywords):
            return subcategory
    return 'General'

In [7]:
df1['main_category'] = df1['name'].apply(determine_main_category)
df1['subcategory'] = df1.apply(lambda row: determine_subcategory(row['name'], row['main_category']), axis=1)

Strategically adding quantity and dates to make the data be as real as possible

In [8]:
date_range = pd.date_range(start='2020-01-01', end='2024-06-01', freq='MS')
seasons = {
    'summer': [4,5,6],
    'monsoon': [7,8,9, 10],  
    'winter': [11, 12, 1],
    'spring': [2, 3]
}

In [11]:
summer_wear = ['bikini', 't-shirt', 'tank top', 'corset', 'vest', 'skirt', 'summer dress','romper','shorts','floral dress','polo','summer','crop']
winter_wear = ['cardigan', 'jacket', 'coat', 'hoodie', 'sweatshirt','sweater','jumpsuit']
monsoon_wear = ['leggings', 'culottes']
spring_wear = ['cargo', 'polo']
wedding_wear = ['bridal dress', 'saree','evening dress','long dress','kurta','kurti','sari','blouse']

In [12]:
trendy_2024 = ['corset', 'tank top', 'polo', 'cargo','vest','romper','crop']

In [39]:
def assign_quantity(name, month, year):
    lower_name = name.lower()
    if any(item in lower_name for item in trendy_2024) and year == 2024:
        base_quantity = np.random.randint(1000, 1500)
        if np.random.rand() > 0.5:
            return base_quantity + np.random.randint(500, 1000)
        return base_quantity
    
    if any(item in lower_name for item in summer_wear) and month in seasons['summer']:
        return np.random.randint(500, 1000)
    elif any(item in lower_name for item in winter_wear) and month in seasons['winter']:
        return np.random.randint(500, 1000)
    elif any(item in lower_name for item in monsoon_wear) and month in seasons['monsoon']:
        return np.random.randint(300, 700)
    elif any(item in lower_name for item in spring_wear) and month in seasons['spring']:
        return np.random.randint(300, 700)
    elif any(item in lower_name for item in wedding_wear) and month in seasons['winter'] + seasons['spring']:
        return np.random.randint(800, 1500)
    
    return np.random.randint(100, 400)

In [40]:
df1['quantity'] = 0
df1['date'] = None

for i, row in df1.iterrows():
    name = row['name']
    quantities = []
    dates = []
    for date in date_range:
        quantity = assign_quantity(name, date.month, date.year)
        quantities.append(quantity)
        dates.append(date)
    df1.loc[i, 'quantity'] = quantities[np.argmax(quantities)]  
    df1.loc[i, 'date'] = dates[np.argmax(quantities)]

Cleaning Image links

In [10]:
def keep_last_link(link):
    parts = link.split(';')
    return parts[-1].strip()

In [11]:
df1['img'] = df1['img'].apply(keep_last_link)

In [13]:
df1['img'][0]

'https://assets.myntassets.com/f_webp,dpr_2.8,q_60,w_210,c_limit,fl_progressive/assets/images/1996777/2022/11/22/336445a8-fa32-4396-914a-2629b49465d31669112704759RoadsterMenBlackCottonPureCottonT-shirt1.jpg'

In [ ]:
df1.to_csv('products_final_data.csv')

Creating customer data

In [98]:
import numpy as np
customer_data = {
    'customer_id': [],
    'product_id': [],
    'quantity': [],
    'total_price': []
}

num_customers = 1000
all_customer_ids = [f"{i+1:05}" for i in range(num_customers)]

for _, row in df1.iterrows():
    product_id = row['product_id']
    available_quantity = row['quantity']
    price = row['price']
    
    while available_quantity > 0:
        customer_id = np.random.choice(all_customer_ids)
        customer_quantity = np.random.randint(1, min(available_quantity, 5) + 1) 
        customer_data['customer_id'].append(customer_id)
        customer_data['product_id'].append(product_id)
        customer_data['quantity'].append(customer_quantity)
        customer_data['total_price'].append(customer_quantity * price)
        available_quantity -= customer_quantity

customer_data = pd.DataFrame(customer_data)

In [99]:
customer_data

        customer_id product_id  quantity  total_price
0             00679       1000         1          274
1             00676       1000         4         1096
2             00305       1000         1          274
3             00548       1000         3          822
4             00561       1000         3          822
...             ...        ...       ...          ...
1746911       00501      10240         1         1299
1746912       00602      10240         2         2598
1746913       00237      10240         2         2598
1746914       00762      10240         1         1299
1746915       00302      10240         2         2598

[1746916 rows x 4 columns]

In [108]:
customer_data.to_csv('customer_final_data.csv')